<div class="page__content">
    <h2>{{stepNumber}} - Administrateur</h2>
    <p>
        Génial, la structure des données de Robert2 est maintenant complète !
    </p>
    <p>
        Il est maintenant temps de <strong>créer le premier utilisateur</strong>.<br />
        Cet utilisateur sera un <em>administrateur</em>, il aura donc accès à tous les aspects
        de l'application, et aura tous les droits.
    </p>
    <p>
        Choisissez un pseudo et un mot de passe, et donnez une adresse e-mail
        ainsi que le nom et prénom de cet utilisateur.
    </p>
    <form method="POST" class="form">
        <div class="form__field">
            <h3 class="form__field-title">Pseudo</h3>
            <p class="form__field-description">
                Le pseudo de l'utilisateur, utilisé pour se connecter
                à l'application en tant qu'administrateur.
            </p>
            <input
                type="text"
                name="user[pseudo]"
                style="width: 200px;"
                value="{{stepData['user']['pseudo']}}"
            />
            {% if validationErrors['pseudo'] %}
            <div class="form__field-error">{{validationErrors['pseudo'][0]}}</div>
            {% endif %}
        </div>
        <div class="form__field">
            <h3 class="form__field-title">Mot de passe</h3>
            <p class="form__field-description">
                Le mot de passe à utiliser pour accéder à Robert2 avec cet utilisateur.
            </p>
            <input
                type="password"
                name="user[password]"
                style="width: 200px;"
                value="{{stepData['user']['password']}}"
            />
            {% if validationErrors['password'] %}
            <div class="form__field-error">{{validationErrors['password'][0]}}</div>
            {% endif %}
        </div>
        <div class="form__field">
            <h3 class="form__field-title">Adresse e-mail</h3>
            <p class="form__field-description">
                L'adresse e-mail de l'utilisateur admin, qui peut aussi être utilisée
                pour se connecter à Robert2.
            </p>
            <input
                type="email"
                name="user[email]"
                style="width: 300px;"
                placeholder="votre-adresse@votre-société.com"
                value="{{stepData['user']['email']}}"
            />
            {% if validationErrors['email'] %}
            <div class="form__field-error">{{validationErrors['email'][0]}}</div>
            {% endif %}
        </div>
        <div class="form__field">
            <h3 class="form__field-title">Nom et prénom</h3>
            <p class="form__field-description">
                Le nom et prénom de cet utilisateur admin (facultatif).
            </p>
            <div class="install__admin-names">
                <label for="userFirstName">Prénom&nbsp;:</label>
                <input
                    type="text"
                    name="user[person][first_name]"
                    id="userFirstName"
                    value="{{stepData['user']['person']['first_name']}}"
                />
                <label for="userLastName">Nom&nbsp;:</label>
                <input
                    type="text"
                    name="user[person][last_name]"
                    id="userLastName"
                    value="{{stepData['user']['person']['last_name']}}"
                />
            </div>
            {% if validationErrors['person']['last_name'] %}
            <div class="form__field-error">
                {{validationErrors['person']['last_name'][0]}}
            </div>
            {% endif %}
            {% if validationErrors['person']['first_name'] %}
            <div class="form__field-error">
                {{validationErrors['person']['first_name'][0]}}
            </div>
            {% endif %}
        </div>
        <div class="form__submit">
            <button role="submit">Étape suivante</button>
        </div>
    </form>
</div>
